.faq {
  .faqbtn {
    .active {
      transition: all 0.3s ease-in-out;
      transform: rotate(180deg) !important;
     
    }
    .hidden-content2 {
        opacity: 1;
        max-height: 1000px; /* Adjust the maximum height as needed */
        transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
      }
      
    .hidden-content1 {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    }
    .img {
      transition: all 0.3s ease-in-out;
      transform: rotate(0);
    }
  }
}
