.faq {
  .faqbtn {
    .faqbtn__img {
      transition: transform 0.3s ease-in-out;
      transform: rotate(0);
    }
    .faqbtn__img{
      transition: all 0.3s ease-in-out;
    }
    .faqbtn__img.active {
      transform: rotateX(180deg) !important;
    }
  
    .faqbtn__content {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
  
    .faqbtn__content.active {
      max-height: 1000px; /* Set a large enough value */
      opacity: 0.6;
      transition: max-height 1s ease;
    }
  }
  
  
}
