.app {
  margin: 0 auto;
  .home {
    background: radial-gradient(
      197.21% 125.7% at 42.55% 6.58%,
      #25b679 26.29%,
      rgba(37, 182, 121, 0.18) 100%
    );
    .imgs{
      width: 320px;
    }
  }
}
