.navbar {
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
  .link-ul {
    width: 221px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--Gray, #dfdfe2);
    background: var(--White, #fff);
    li{
      padding: 4px;
    }
  }
  .links {
    ul {
      li {
        color: var(--Black, #040303);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #25b679;
        }
      }
    }
  }
}
